*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

:root{
    --cyan: hsl(179, 62%, 43%);
    --light-cyan: hsl(179, 52%, 53%);
    --bright-Yellow: hsl(71, 73%, 54%);
    --light-Gray: hsl(204, 43%, 93%);
    --grayish-Blue: hsl(218, 22%, 67%);
}

body{
    width: 100%;
    height: 100vh;
    background: var(--light-Gray);
    overflow: hidden;
}

.container{
    width: 50%;
    border-radius: 10px;
    margin: 90px auto;
    display: grid;
    grid-template-areas: "section section"
    "card1 card2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
}

section{
    background: white;
    grid-area: section;
    padding: 5% 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 20px 0px lightgray;
}

.card1{
    grid-area: card1;
    background: var(--cyan);
    border-bottom-left-radius: 10px;
    padding: 10% 10%;
    color: white;
}

.card2{
    grid-area: card2;
    background: var(--light-cyan);
    border-bottom-right-radius: 10px;
    padding: 10% 10%;
    color: white;
}

h1{
    color: var(--cyan);
    font-weight: bolder;
}

section p:nth-child(2){
    color: var(--bright-Yellow);
    font-weight: bold;
    line-height: 50px;
}

section p:nth-child(3){
    color: var(--grayish-Blue);
    font-weight: 400;
}

.card1{ 
    display: flex;
    flex-direction: column;
}

.card1 p{
    font-size: 30px;
    padding-top: 30px;
}

.month{
    font-size: 14px;
    font-weight: lighter;
}

.normal{
    font-size: 16px;
    font-weight: normal;
}

.sign-up{
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    top: 13%;
    color: white;
    background-color: var(--bright-Yellow);
}

ul{
    padding-top: 30px;
    list-style: none;
    font-size: 16px;
}

@media only screen and (max-width: 600px){
    body{
        overflow: unset;
    }

    .container{
        grid-template-areas: "section   section"
                              "card1    card1"
                              "card2    card2";
    }

    .card1{
        border-bottom-left-radius: 0px;
        padding: 5%;
    }

    .card2{
        border-bottom-left-radius: 10px;
        padding: 5%;
    }

}
